body {
  font-family: 'DM Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}

#topnav {
  font-size: 1rem;
  margin: 0 10%;
}

.btn-header {
  justify-content: space-between;
  background-color: #0274C6;
  border-radius: 3px;
  border: 0;
  padding: 4px 20px;
  color: white;
}

.dropdown-divider {
  display: none;
  width: 1.8rem;
  border-width: 0.2rem;
  margin-left: auto;
  margin-right: auto;
}

.bi-stars {
  width: 1px;
  color: #ffe349;
}

.nav-item {
  margin: 0px 20px;
  color: white;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    margin: 0;
  }

  #topnav {
    margin: 0 2%;
    font-size: 1rem;
  }

  .nav-link {
    text-align: center;
  }

  .btn-container {
    text-align: center;
    padding-top: 0.5rem;
    margin-right: 0;
  }

  .btn-header {
    width: 8rem;
  }

  .dropdown-divider {
    display: block;
  }
}

.background {
  background-image: url('./images/stock-photo_black-clothe.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
}

.top-photo img {
  width: 30vw;
  height: 100%;
  position: relative;
  bottom: 0;
}

.top-page-container {
  display: flex;
  justify-content: space-around;
  margin: 5%  10%;
  margin-bottom: 0;
  align-items: center;
}

.top-text {
  text-align: left;
}

.top-text h1 {
  text-align: left;
  font-size: 4.2vw;
}

.top-text p {
  font-size: 1.4vw;
}

@media screen and (max-width: 767px) {
  .top-page-container {
    display: flex;
    flex-direction: column;
  }

  .top-photo img {
    width: 80vw;
    height: 100%;
    position: relative;
    bottom: 0;
  }

  .top-text h1 {
    font-size: 9vw;
    text-align: center;
  }

  .top-text p {
    font-size: 4vw;
  }

  .top-text {
    text-align: center ;
    margin-bottom: 20%;
  }
}

@media screen and (min-width: 1350px) {
  .tp-text h1 {
    width: 40vw;
    font-size: 4.5rem;
  }

  #topnav {
    margin: 0 2%;
    font-size: 1.7rem;
  }
}

#stakeholders {
  background-color: rgba(128, 128, 128, 0.267);
  height: 10vw;
  margin-bottom: 70px;
}

.stakeholders-container {
  display: flex;
  justify-content: space-around;
  height: 10vw;
}

.schedule-photo {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.steps {
  margin: 0% 10%;
  margin-bottom: 14%;
}

#how-it-works {
  margin-top: 8%;
}

.left {
  margin-bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  margin-top: 50px
}

@media screen and (max-width: 767px) {
  .left {
    margin-top: 0%;
  }
}

.photo-card {
  position: absolute;
  margin-left: 8%;
  top: 90%;
  width: 60%;
}

.photocard-text {
  box-shadow: 0 0 10px #00000026;
  border-color: #efefef;
  background: linear-gradient(to left, white 5%, white 95%, #4a90e2 0%);
}

.text-margin-left {
  margin-left: 8%;
}

#sidebar {
  background-color: #0274C6;
  width: 100px;
}

.map-responsive iframe {
  width: 95%;
  height: 120px;
  min-height: 120px;
}

.map-responsive {
  width: 100%;
}

.photo-card-map {
  width: 60%;
  position: absolute;
  z-index: 1;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.steps-inverse {
  margin: 10% 10%;
  margin-bottom: 12%;
}

@media screen and (max-width: 767px) {
  .steps-inverse {
    margin-bottom: 25%;
  }

  .photo-card-map {
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .right {
    margin-top: 20%;
  }
}

.photocard-icon {
  width: 40%;
  height: 15%;
  position: absolute;
  left: -5%;
  top: 18%;
  z-index: 2;
  min-width: 170px;
  min-height: 35px;
}

.car-card h6 {
  margin-top: 6%;
  margin-left: 4%;
}

.car-card {
  box-shadow: 0 0 10px #00000026;
  border-color: #efefef;
  background-color: white;
  width: 100%;
  padding: 0.8%;
}

h1 {
  text-align: center;
}

#grid-container img {
  width: 100% !important;
  margin-bottom: 5% ;
  padding: 0 !important;
}

.outer-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(1, 20%);
  grid-gap: 10px;
  padding: 10px;
  margin: 0 10%;
}

#grid1 {
  position: relative !important;
  top: -45% !important;
}

#grid2 {
  position: relative !important;
  top: 45% !important;
}

#grid3 {
  position: relative !important;
  top: -25% !important;
}

#grid4 {
  position: relative !important;
  top: 25% !important;
}

.btn-ig {
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn-ig a {
  padding: 4px;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  color: #0274C6;
  font-size: 2vw;
}

#grid-images {
  position: relative;
  width: 100%;
  background-color: #f1f1f1;
  padding: 6% 0;
}

.btn-ig a:hover {
  background-color: #ddd;
  color: grey;
}

@media screen and (max-width: 767px) {
  .outer-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 5px;
    padding: 10px;
  }

  #grid1 {
    position: relative !important;
    top: 0% !important;
  }

  #grid2 {
    position: relative !important;
    top: 0% !important;
  }

  #grid3 {
    position: relative !important;
    top: 0% !important;
  }

  #grid4 {
    position: relative !important;
    top: 0% !important;
  }

  .btn-ig {
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  #grid-container img {
    width: 100% !important;
    margin-bottom: 0% ;
    padding: 0 !important;
  }

  .btn-ig a {
    padding: 4px;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    color: #0274C6;
    font-size: 4vw;
  }
}

.getStarted h3 {
  width: 100%;
  text-align: center;
}

.getStarted {
  text-align: center;
  background-image: url('./images/stock-photo_black-clothe.jpg');
  background-attachment: fied;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  margin-top: 10%;
  padding: 8%;
}

/* Slideshow container */
.form-container {
  position: relative;
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('./images/stock-photo_black-clothe.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 10vh;
  max-height: 50vh;
  background-size: cover;
  color: white;
  margin: 10%;
  margin-bottom: 5%;
  padding: 5%;
}

.form-container h1 {
  font-size: 4vw;
  margin-bottom: 2%;
}

form {
  text-align: center;
  font-size: 1vw;
}

input::placeholder {
  color: white;
}

input {
  padding: 1.5%;
}

.email {
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.281);
  border: 0;
  color: white;
}

.submit {
  width: 10vw;
  margin-left: 3%;
}

/*
  Footer
*/

footer {
  border-top: 1px solid #F0F1ED;
}

.copyright {
  font-size: 0.8rem;
  background-color: #F0F1ED;
}


/*

*/

.large-letter-spacing {
  letter-spacing: 0.08rem;
}


.laundrix-mission {
  width: 70%;
}
